ul,ol{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#xxx{  
  display: block;
  position: fixed;
  top:0;
  left:0;
}
body{
  margin: 0px;
}
.actions{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
}
.actions  svg{
  width: 1.6em;
  height: 1.6em;
  transition: all 0.3s ;
  margin: 0 10px;
}
.actions  svg.active{
  fill: red;
  transform: scale(1.2);  
}
.actions .pencolor{
  position: fixed;
  top: 70px;
  left: 10px;
  
}
.actions .pencolor > li{
  width: 20px;
  height: 20px;
  box-shadow: 0 0  3px rgba(0,0,0,0.25);
  border-radius: 50%;
  margin: 10px 0 ;
  transition: all 0.3s
}
.actions .pencolor > li.black{
  background: black;
}
.actions .pencolor > li.red{
  background: red;
}
.actions .pencolor > li.yellow{
  background: yellow;
}
.actions .pencolor > li.green{
  background: green;
}
.actions .pencolor > li.blue{
  background: blue;
}
.actions .pencolor > li.active{
  box-shadow: 0 0  3px rgba(0,0,0,0.95);
  transform: scale(1.2);
}
.sizes {
  position: fixed;
  right: 20px;
  top:10px;
}
.sizes > li {
  margin: 20px 0 ;
  font-size: 8px;
  transition: all 0.3s
}
.sizes > .thin{
  
  width: 20px;
  border-top: 2px solid black;
}
.sizes > .thick{
  
  width: 20px;
  border-top: 7px solid black;
}
.sizes > li.active {
  margin: 20px 0 ;
  font-size: 8px;
  transform: scale(1.2);
  color: red;
}
#clear{
  -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  
}
#clear.active{
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}